<footer class="footer fixed-bottom bg-dark">
  <div class="mx-auto order-0 ">
    <ul class="list-group-horizontal text-left p-x-4">
         <li class="list-inline-item"><a class="text-muted" title="GitHub" href="https://github.com/sixty4k/"><ion-icon name="logo-github" size="medium"></ion-icon></a></li>
         <li class="list-inline-item"><a class="text-muted" title="Twitter" href="https://twitter.com/sixty4k/"><ion-icon name="logo-twitter" size="medium"></ion-icon></a></li>
         <li class="list-inline-item"><a class="text-muted" title="Instagram" href="https://www.instagram.com/sixty4k/"><ion-icon name="logo-instagram" size="medium"></ion-icon></a></li>
         <li class="list-inline-item"><a class="text-muted" title="Goodreads" href="https://www.goodreads.com/user/show/1764610-mike"><ion-icon name="book" size="medium"></ion-icon></a></li>
         <li class="list-inline-item"><a class="text-muted" title="LinkedIn" href="https://www.linkedin.com/sixty4k"><ion-icon name="logo-linkedin" size="medium"></ion-icon></a></li>
    </ul>
  </div>
</footer>
